<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AerolineaFrba.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="AerolineaFrba.Properties.Settings.DBurl" connectionString="Data Source=localhost\SQLSERVER2012;Initial Catalog=GD2C2015;User ID=gd;Password=gd2015"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <AerolineaFrba.Properties.Settings>
            <setting name="FechaSistema" serializeAs="String">
                <value>2015-12-12</value>
            </setting>
        </AerolineaFrba.Properties.Settings>
    </applicationSettings>
</configuration>